go 1.21.3

use (
	"./1 - Pacotes"
	"./17 - Aplicação de Linha de Comando"
	"./19 - Testes Automatizados/19.1 - Introdução"
	"./19 - Testes Automatizados/19.2 - Teste Avançado"
	"./23 - Banco De Dados"
	"./24 - Crud Básico"
)
